<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
      <h2>Click the button to start the toggling effect</h2>
      <button @click="startEffect">Start Effect</button>
      <div
        id="effect"
        :class="[{highlight: effect, shrink: !effect}]"></div>
    </div>
    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <h2>Two CSS added via array syntax</h2>
    <div
      :class="[secondDivColour, secondDivSize]">Now I got class :)</div>
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
      <h2>Write the name of the class inside the input to change the div below it</h2>
      <h5>(Green by default: Choose between yellow, red, blue or green)</h5>
      <input
        type="text"
        v-model="thirdDiv">
      <div
        class="divSize green"
        :class="thirdDiv"></div>
    </div>
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <div>
        <h2>Write the name of the class inside the input and set it to true or false</h2>
        <input type="text" v-model="fourthDivClass">
        <input type="text" v-model="fourthDivClassActive">
        <div 
          class="divSize"
          :class="[{fourthDivClassActive: fourthDivClassActive}, fourthDivClass]"></div>
      </div>
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <div>
      <h2>Same as 3rd</h2>
      <input type="text" v-model="fifth.backgroundColor">
      <div
        :style="fifth"></div>
    </div>
    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <div>
      <button v-on:click="startProgress">Start Progress</button>
      <div
        :class="['progress-bar']"
        :style="progressBar"></div>
    </div>
  </div>

  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="app.js"></script>

</body>

</html>