<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, index) in ingredients" :key="ingredient"> {{ index + 1 }}.- {{ ingredient }}</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ index }} - {{ key }}: {{ value }} </div>
            </li>
        </ul>
        <span v-for="n in 10">{{ n }} </span>
    </div>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>